@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

p,h1,h2,h3,h4,h5,div {
  font-family: Orbitron;
  font-size: large;
  color: white; /* Color del texto */
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; /* Efecto de reborde */
}

.text-with-border {
  color: white;
  text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}